<header style="font-size: 20px;">
    <div class="container">
        <a routerLink="/" class="logo">Pizza rendelés</a>
        <nav>
            <ul>
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a class="text-light">{{user.name}}</a>
                    <div class="menu">
                        <a *ngIf="isAdmin" routerLink="/add">Étel hozzáadása</a>
                        <a *ngIf="!isAdmin" routerLink="/orders">Rendelések</a>
                        <a (click)="logout()" routerLink="/">Logout</a>
                    </div>
                </li>
                <li *ngIf="isAuth && !isAdmin">
                    <a routerLink="/cart-page">
                        Kosár <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
